.main-container {
    display: flex;
    margin-top: 10px;
}

.main-container .sub-container {
    width: 50%;
}

.main-container .sub-container:first-child {
    padding-right: 20px;
}

.toolbar button:disabled {
    opacity: 0.5;
}

#code {
    border: 1px solid #9a9a9a;
    margin-bottom: 10px;
    height: 50%;
    padding: 5px;
    overflow: scroll;
    font-family: monospace;
}

#code pre {
    display: inline;
}

#code span {
    font-family: monospace;
}

#console {
    background-color: #505050;
    padding: 5px;
    height: 50%;
    overflow: scroll;
}

#console pre {
    background: transparent;
    border: none !important;
    width: 100%;
    color: #d8d8d8;
    margin: 0;
}

#console:focus pre:last-child::after {
    content: '';
    animation: blink 1s infinite;
    background: white;
    width: 2px;
    display: inline-block;
    height: 14px;
}

@keyframes blink {
    from {
        background: white;
    }

    25% {
        background: transparent;
    }

    50% {
        background: transparent;
    }

    75% {
        background: white;
    }

}

.changed {
    font-weight: bold;
}

#mem-table {
    border-spacing: 0;
    font-family: monospace;
}

#mem-table th {
    width: 35px;
}

#mem-table tr * {
    padding: 2px;
}

#run::before {
    content: '';
    display: block;
    border-style: solid;
    width: 0px;
    border-width: 8px;
    border-right: 0;
    border-color: transparent #009130;
}

#pause {
    padding-right: 12px;
    padding-left: 4px;
}

#pause::before {
    content: '';
    width: 4px;
    height: 16px;
    background-color: #ffd400;
    display: block;
    box-shadow: 7px 0px 0px 0px #ffd400;
}

#step::after {
    content: '';
    display: block;
    border-style: solid;
    width: 0px;
    border-width: 8px;
    border-right: 0;
    border-color: transparent #009130;
    position: absolute;
    top: 1px;
    right: 3px;
}

#step {
    padding-right: 12px;
    padding-left: 4px;
    height: 22px;
    width: 24px;
    position: relative;
}

#step::before {
    content: '';
    width: 4px;
    height: 16px;
    background-color: #009130;
    display: block;
    position: absolute;
    top: 1px;
    left: 3px;
}

#clock-speed {
    position: relative;
    top: -3px;
}

#reset {
    padding: 1px 2px;
}

#reset::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: #d60303;
}
